@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: open-sans, Arial, sans-serif;
    font-size: 1rem; /* 16px */
    line-height: 1.6;
    color: #37352f; /* Default Notion text color */
    @apply font-normal;
    @apply sm:text-sm md:text-base lg:text-lg;
    @apply p-2 sm:p-4 md:p-6 lg:p-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: proxima-soft, Arial, sans-serif;
    @apply font-bold;
    @apply mb-2 sm:mb-4 md:mb-6;
  }

  h1 {
    font-size: 2.25rem;
    @apply sm:text-2xl md:text-3xl lg:text-4xl;
  }
  h2 {
    font-size: 1.875rem;
    @apply sm:text-xl md:text-2xl lg:text-3xl;
  }
  h3 {
    font-size: 1.5rem;
    @apply sm:text-lg md:text-xl lg:text-2xl;
  }
  h4 {
    font-size: 1.25rem;
    @apply sm:text-base md:text-lg lg:text-xl;
  }
  h5 {
    font-size: 1rem;
    @apply sm:text-sm md:text-base lg:text-lg;
  }
  h6 {
    font-size: 0.875rem;
    @apply sm:text-xs md:text-sm lg:text-base;
  }

  a {
    @apply text-blue-500 no-underline transition-colors duration-200 ease-in-out;
  }
  a:hover {
    @apply text-blue-700;
  }

  p {
    @apply mb-2 sm:mb-4 md:mb-6 lg:mb-8 flex justify-start items-center;
  }

  img {
    @apply max-w-full sm:max-w-sm md:max-w-md lg:max-w-lg m-auto;
  }

  blockquote {
    @apply border-l-4 border-blue-500 bg-[#F7F6F2] pl-4 my-2 sm:my-4 md:my-6 lg:my-8 p-2;
  }
  blockquote p {
    @apply mb-0;
  }

  /* Lists */
  ul,
  ol {
    @apply list-outside pl-8 mb-6 sm:mb-8 md:mb-10 lg:mb-12;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul li,
  ol li {
    @apply py-1 sm:py-2;
  }

  details > :not(summary) {
    @apply ml-8;
  }

  summary {
    @apply mb-2;
  }

  summary:hover {
    @apply cursor-pointer;
  }

  /* Preformatted text/code */
  pre {
    @apply bg-gray-200 p-4 rounded text-sm my-2 sm:my-4 md:my-6 lg:my-8;
  }

  /* Table Styles */
  table {
    @apply w-auto text-xs sm:text-sm md:text-base mb-4 sm:mb-6 md:mb-8 border-collapse;
  }
  thead {
    @apply bg-[#F7F6F2];
  }
  th {
    @apply px-2 sm:px-4 md:px-6 py-2 text-left font-semibold border;
  }
  td {
    @apply px-2 sm:px-4 md:px-6 py-2 whitespace-nowrap border;
  }
}
