@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: "kandin", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "open-sans", Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  a {
    color: #3498db; /* Change to your preferred link color */
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  a:hover {
    color: #2980b9; /* Change to your preferred link hover color */
  }

  p {
    margin-bottom: 1.25rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  img {
    max-width: 30rem;
    margin: auto;
  }

  blockquote {
    border-left: 4px solid #007bff; /* Blockquote color */
    padding-left: 1rem;
    margin: 1rem 0;
  }

  /* Lists */
  ul,
  ol {
    list-style: none;
  }

  /* Preformatted text/code */
  pre {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 4px;
    font-size: 14px;
  }
}

/* General Layout */
@layer base {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  main {
    padding: 20px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
}
